<div class="page-title">
    <h1>Artists</h1>
</div>
<div class="container">
    <div class="content-body">
        <div class="page-desc">
            <h2>Here you can add, update or delete an instrument request for an upcoming artist/group.</h2><br>
            <h3>Dont see the artist/group or instrument you're looking for in the form dropdown menu?</h3>
            <h3>Use the 'Artists' page to add a new artist to the database or use the 'Instruments' page</h3>
            <h3>to add a new instrument.</h3>
        </div>
        <br>

        <h2><b>List of Scheduled Artists</b></h2>
        <table class="sharp-table">
            {{!-- Header section --}}
            <thead class="table-head">
                <tr>
                    {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                    {{/each}}
                    <th>Remove</th>
                </tr>
            </thead>
            {{!-- Body Section --}}
            <tbody class="table-body">
                {{#each data}}
                {{!-- SELECT name, email, phone, genre FROM Artists;; --}}
                    <tr data-value={{this.ID}}>
                        <td>{{this.ID}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Email}}</td>
                        <td>{{this.Phone}}</td>
                        <td>{{this.Genre}}</td>
                        <td><button onclick="deleteArtist({{this.ID}})" class="delete-button">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <br>

        <button class="display-form-button" onclick="displayAddForm()">Click here to add a new artist</button>
        <div class="form-body" id="show-add">
            <form class="sharp-form" id="add-artist-form">
                <div class="form-title">Add an Artist</div>
                <p class="form-desc">
                    INPUT DESCRIPTION HERE
                </p>

                <div class="form-item">
                    <label for="add-artist" class="form-label">Name: </label>
                    <input type="text" class="form-input" name="add-artist" id="add-artist">
                </div>

                <div class="form-item">
                    <label for="add-email" class="form-label">Email: </label>
                    <input type="email" class="form-input" name="add-email" id="add-email" required="required">
                </div>

                <div class="form-item" class="form-label">
                    <label for="add-phone" class="form-label">Phone: </label>
                    <input type="tel" class="form-input" name="add-phone" id="add-phone" required="required">
                </div>

                <div class="form-item">
                    <label for="add-genre" class="form-label">Genre: </label>
                    <input type="text" class="form-input" name="add-genre" id="add-genre" required="required">
                </div>
                    <div class="form-item">
                    <input type="submit" class="form-button">
                </div>

            </form>
        </div>

        <button class="display-form-button" onclick="displayUpdateForm()">Click here to update artist details</button>
        <div class="form-body" id="show-update">
            <form class="sharp-form" id="update-artist-form">
                <div class="form-title">Update an Existing Artist</div>
                <p class="form-desc">
                    INPUT DESCRIPTION HERE
                </p>
                <div class="form-item">
                    <label for="input-id">Artist ID: </label>
                    <select class="form-dropdown" name="input-id" id="input-id">
                        <option value="test">Select ID</option>
                        {{#each data}}
                            <option value="{{this.ID}}">{{this.ID}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-item">
                    <label for="update-name" class="form-label">Name: </label>
                    <input type="text" class="form-input" name="update-name" id="update-name">
                </div>

                <div class="form-item">
                    <label for="update-email" class="form-label">Email: </label>
                    <input type="email" class="form-input" name="update-email" id="update-email" required="required">
                </div>

                <div class="form-item" class="form-label">
                    <label for="update-phone" class="form-label">Phone: </label>
                    <input type="tel" class="form-input" name="update-phone" id="update-phone" required="required">
                </div>

                <div class="form-item">
                    <label for="update-genre" class="form-label">Genre: </label>
                    <input type="text" class="form-input" name="update-genre" id="update-genre" required="required">
                </div>

                <div class="form-item">
                    <input type="submit" class="form-button">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/mod_artist.js" async></script>
