<div class="page-title">
    <h1>Requested Instruments</h1>
</div>
<div class="container">
<div class="content-body">
    <div class="page-desc">
    <h2>Here you can add, update or delete an instrument request for an upcoming artist/group.</h2><br>
    <h3>Dont see the artist/group or instrument you're looking for in the form dropdown menu?</h3>
    <h3>Use the 'Artists' page to add a new artist to the database or use the 'Instruments' page</h3>
    <h3>to add a new instrument.</h3>
    </div>
    <br>
<div id "data-table">
    <h2><b>Artist Instrument Requests</b></h2>
    <table class="sharp-table">
        {{!-- Header section --}}
        <thead >
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Remove</th>
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody class="table-body">
            {{#each data}}
            {{!-- SELECT Artists.name AS 'Band', Instruments.instrument_type AS 'Gear'; --}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Band}}</td>
                <td>{{this.Gear}}</td>
                <td><button onclick="deleteRequest({{this.ID}})"class="delete-button">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<button class="display-form-button" onclick="displayAddForm()">Click here to request an instrument</button>
<div class="form-body" id="show-add">
<form class="sharp-form" id="add-request-form">
    <div class="form-title">Add a Request</div>
    <p class="form-desc">
                    INPUT DESCRIPTION HERE
    </p>
    <div class="form-item">
    <label class="form-label" for="add-name">Artist Name: </label>
    <select class="form-dropdown" name="add-name" id="add-name">
        <option value="test">Select Artist</option>
        {{#each data2}}
        <option class="form-input" value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    </div>
    <div class="form-item">
    <label class="form-label" for="add-inst">Instrument: </label>
    <select class="form-dropdown" name="add-inst" id="add-inst">
        <option value="test">Select Instrument</option>
        {{#each data3}}
        <option class"form-input" value="{{this.instrument_type}}">{{this.instrument_type}}</option>
        {{/each}}
    </select>
        <input class="form-button" type="submit">
    </div>

</form>
</div>

<button class="display-form-button" onclick="displayUpdateForm()">Click here to update an existing request</button>
<div class="form-body" id="show-update">
<form class="sharp-form" id="update-request-form">
    <div class="form-title">Update a Request</div>
        <p class="form-desc">
        INPUT DESCRIPTION HERE
        </p>
    <div class="form-item">
    <label class="form-label" for="input-id">Request ID: </label>
    <select class="form-dropdown" name="input-id" id="input-id">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option class="form-input" value="{{this.ID}}">{{this.ID}}</option>
        {{/each}}
    </select>
    </div>

    <div class="form-item">
    <label class="form-label" for="update-name">Artist Name: </label>
    <select class="form-dropdown" name="update-name" id="update-name">
        <option value="test">Select Artist</option>
        {{#each data2}}
        <option class="form-input" value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    </div>

    <div class="form-item">
    <label class="form-label" for="update-inst">Instrument: </label>
    <select class="form-dropdown" name="update-inst" id="update-inst">
        <option value="test">Select Instrument</option>
        {{#each data3}}
        <option class="form-input" value="{{this.instrument_type}}">{{this.instrument_type}}</option>
        {{/each}}
    </select>
        <input class="form-button" type="submit">
    </div>
</div>
</form>
</div>
</div>
<script src="./js/mod_artist_needs_ins.js" async></script>
