<h1>Artists</h1>

<div id "data-table">
    <h2><b>List of Scheduled Artists</b></h2>
    <table border=solid cellpadding="5">
        {{!-- Header section --}}
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody>
            {{#each data}}
            {{!-- SELECT name, email, phone, genre FROM Artists;; --}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.genre}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div id="add">
    <form id="add-artist">
        <legend><b>Add a new Artist</b></legend>
          <fieldset class="fields">
            <label> Name: </label> <input type="text" name="name">
            <label> Email: </label> <input type="email" name="email">
            <label> Phone: </label> <input type="tel" name="phone">
            <label> Genre: </label> <input type="text" name="genre">
          </fieldset>
          <input class="btn" type="submit" id="add_artist" value="Add Artist">
          <input class="btn" type="button" value="Cancel">
	</form>
</div>
<br>

<div id="add">
    <form id="add-artist">
        <legend><b>Add a new Artist</b></legend>
          <fieldset class="fields">
            <label> Name: </label> <input type="text" name="name">
            <label> Email: </label> <input type="email" name="email">
            <label> Phone: </label> <input type="tel" name="phone">
            <label> Genre: </label> <input type="text" name="genre">
          </fieldset>
          <input class="btn" type="submit" id="add_artist" value="Add Artist">
          <input class="btn" type="button" value="Cancel">
	</form>
</div>
<br>

<div id="update">
    <form id="update-artist">
      <legend><b>Update Details of an Artist</b></legend>
          <fieldset class="fields">
            <label> ID: </label> <input type="number" name="id">
            <label> Name: </label> <input type="text" name="name">
            <label> Email: </label> <input type="email" name="email">
            <label> Phone: </label> <input type="tel" name="phone">
            <label> Genre: </label> <input type="text" name="genre">
    </fieldset>
    <input class="btn" type="submit" id="update-artist" value="Update Artist">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
<br>

<div id="delete">
    <form id="delete-artist">
      <legend><b>Remove an Scheduled Artist</b></legend>
          <fieldset class="fields">
            <label> ID: </label> <input type="number" name="id">
    </fieldset>
    <input class="btn" type="submit" id="delete-artist" value="Delete Artist">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
