<h1>Artists</h1>

<div id "data-table">
    <h2><b>List of Scheduled Artists</b></h2>
    <table class="artist-table" id="artist-table">
        {{!-- Header section --}}
        <thead class="table-head">
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody class="table-body">
            {{#each data}}
            {{!-- SELECT name, email, phone, genre FROM Artists;; --}}
            <tr data-value={{this.artist_id}}>
                <td>{{this.artist_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.genre}}</td>
                <td><button onclick="deleteArtist({{this.artist_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<h2>Add a New Artist</h2>
<form id="add-artist-form">

    <label for="add-artist">Group Name: </label>
    <input type="text" name="add-artist" id="add-artist" required="required">

    <label for="add-email">Email: </label>
    <input type="email" name="add-email" id="add-email" required="required">

    <label for="add-phone">Phone: </label>
    <input type="tel" name="add-phone" id="add-phone" required="required">

    <label for="add-genre">Genre: </label>
    <input type="text" name="add-genre" id="add-genre" required="required">

    <input type="submit">
</form>
<br>

<h2>Update Artist Details</h2>
<form id="update-artist-form">
    <label for="input-id">Artist ID: </label>
    <select name="input-id" id="input-id">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.artist_id}}">{{this.artist_id}}</option>
        {{/each}}
    </select>

    <label for="update-name">Name: </label>
    <input type="text" name="update-name" id="update-name">

    <label for="update-email">Email: </label>
    <input type="email" name="update-email" id="update-email">

    <label for="update-phone">Phone: </label>
    <input type="tel" name="update-phone" id="update-phone">

    <label for="update-genre">Genre: </label>
    <input type="text" name="update-genre" id="update-genre">

    <input type="submit">


</form>

<script src="./js/mod_artist.js" async></script>
