<h1>Instruments</h1>

    <h2><b>Instruments Available for Request</b></h2>

<table class="instrument-table" id="instrument-table">
    <thead class="table-head">
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody class="table-body">
        {{#each data}}
        <tr data-value={{this.instrument_id}}>
            <td>{{this.instrument_id}}</td>
            <td>{{this.instrument_type}}</td>
            <td><button onclick="deleteInstrument({{this.instrument_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add a New Instrument</h2>
<form id="add-instrument-form">
    <label for="add-type">Instrument Name: </label>
    <input type="text" name="add-type" id="add-type" required="required">
    <input type="submit">
</form>
<br>

<h2>Update Ticket Price</h2>
<form id="update-instrument-form">
    <label for="ins-id">Instrument ID: </label>
    <select name="ins-id" id="ins-id">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.instrument_id}}">{{this.instrument_id}}</option>
        {{/each}}
    </select>

    <label for="update-type">New Type: </label>
    <input type="text" name="update-type" id="update-type">
    <input type="submit">
</form>
<script src="./js/mod_instrument.js" async></script>
