<div class="container">
<div class="content-body">
<h1>Rooms</h1>
<h2><b>List of Rooms inside a Venue</b></h2>

<div id="rooms-table">
    <h2><b>Rooms List</b></h2>
    <table class="sharp-table">
        {{!-- Header section --}}
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody>
            {{#each data}}
            {{!-- SELECT name, capacity, venue FROM Rooms; --}}
            <tr>
                <td>{{this.Room}}</td>
                <td>{{this.Capacity}}</td>
                <td>{{this.Venue}}</td>
                <td>{{this.Adult}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div id="add">
    <form id="add-room-form">
          {{!<alert>Hello</alert> }}
        <legend><b>Add a Room</b></legend>
          <fieldset class="fields">
            <label for="rNameInput"> Room Name: </label>
                <input type="text" name="rNameInput" id="rNameInput">
            <label for="rCapacityInput"> Capacity: </label>
                <input type="number" name="rCapacityInput" id="rCapacityInput"><br>
            <label for="rVenueInput"> Venue:</label>
                <input type="number" name="rVenueInput" id="rVenueInput">
            <label for="rAdultEventInput"> Over 21:</label>
                <input type="number" name="rAdultEventInput" id="rAdultEventInput">
          </fieldset>
          <input class="btn" type="submit" id="add_a_room" value="Add Room">
          <input class="btn" type="button" value="Cancel">
    </form>
</div>
</div>
</div>
    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="../js/add_room.js"></script>



