<h1>Rooms</h1>
<h2><b>List of Rooms inside a Venue</b></h2>

<div id="rooms-table">
    <h2><b>Rooms List</b></h2>
    <table id="room-table" border=solid cellpadding="5">
        {{!-- Header section --}}
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody>
            {{#each data}}
            {{!-- SELECT name, capacity, venue FROM Rooms; --}}
            <tr>
                <td>{{this.Room}}</td>
                <td>{{this.Capacity}}</td>
                <td>{{this.Venue}}</td>
                <td>{{this.Adult}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div id="add">
    <form id="add-room-form">
          {{!<alert>Hello</alert> }}
        <legend><b>Add a Room</b></legend>
          <fieldset class="fields">
            <label for="rNameInput"> Room Name: </label>
                <input type="text" name="rNameInput" id="rNameInput">
            <label for="rCapacityInput"> Capacity: </label>
                <input type="number" name="rCapacityInput" id="rCapacityInput"><br>
            <label for="rVenueInput"> Venue:</label>
                <input type="number" name="rVenueInput" id="rVenueInput">
            <label for="rAdultEventInput"> Over 21:</label>
                <input type="number" name="rAdultEventInput" id="rAdultEventInput">
          </fieldset>
          <input class="btn" type="submit" id="add_a_room" value="Add Room">
          <input class="btn" type="button" value="Cancel">

    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="../js/add_room.js"></script>


{{!--
<div id="update">
    <form id="update-room">
        <legend><b>Update Room</b></legend>
        <fieldset class="fields">
            <label> Room ID: </label> <input type="number" name="id">
            <label> Name: </label> <input type="text" name="name">
            <label> Capacity: </label> <input type="text" name="capacity"><br>
            <label> Over 21:</label> <input type="number" name="over_21">
            <label> Venue ID:</label> <input type="number" name="venue_id">
        </fieldset>
        <input class="btn" type="submit" id="update-room" value="Update Room">
        <input class="btn" type="button" value="Cancel" >
    </form>
</div>
<br>
<div id="delete">
    <h2><b>Delete Room</b></h2>
    <form id="delete-room">
      <legend><b>Delete Room</b></legend>
          <fieldset class="fields">
            <label> Room ID: </label> <input type="number" name="id">
    </fieldset>
    <input class="btn" type="submit" id="delete-room" value="Delete Room">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
--}}
