<h1>Ticket Invoices</h1>
<div id "data-table">
    <h2><b>Ticket Invoices</b></h2>
    <table border=solid cellpadding="5">
        {{!-- Header section --}}
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody>
            {{#each data}}
            {{!-- SELECT Ticket_Invoices.event_id AS 'Invoice', Artists.name AS 'Performing', --}}
            {{!-- Venues.name AS 'Location', Rooms.name AS 'Room', Performances.performance_date AS 'Date', --}}
            {{!-- ticket_price AS 'Price'; --}}
            <tr>
                <td>{{this.Invoice}}</td>
                <td>{{this.Performing}}</td>
                <td>{{this.Location}}</td>
                <td>{{this.Room}}</td>
                <td>{{this.Date}}</td>
                <td>{{this.Price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div id="add">
    <form id="add-invoice">
        <legend><b>Add a New Invoice</b></legend>
          <fieldset class="fields">
            <label> Performance ID: </label> <input type="number" name="perf_id">
            <label> Ticket ID: </label> <input type="number" name="tic_id">
          </fieldset>
          <input class="btn" type="submit" id="add_invoice" value="Add Invoice">
          <input class="btn" type="button" value="Cancel">
	</form>
</div>
<br>

<div id="update">
    <form id="update-invoice">
      <legend><b>Update Details of an Invoice</b></legend>
          <fieldset class="fields">
            <label> Event ID: </label> <input type="number" name="id">
            <label> Performance ID: </label> <input type="number" name="perf_id">
            <label> Ticket ID: </label> <input type="number" name="tic_id">
    </fieldset>
    <input class="btn" type="submit" id="update-invoice" value="Update Invoice">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
<br>

<div id="delete">
    <form id="delete-invoice">
      <legend><b>Delete an Invoice from the Record</b></legend>
          <fieldset class="fields">
            <label> Event ID: </label> <input type="number" name="id">
    </fieldset>
    <input class="btn" type="submit" id="delete-invoice" value="Delete Invoice">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>

