<div class="page-title">
    <h1>Tickets</h1>
</div>
<div class="container">
    <div class="content-body">
        <div class="page-desc">
            <h2>Here you can add, update or delete an instrument request for an upcoming artist/group.</h2><br>
            <h3>Dont see the artist/group or instrument you're looking for in the form dropdown menu?</h3>
            <h3>Use the 'Artists' page to add a new artist to the database or use the 'Instruments' page</h3>
            <h3>to add a new instrument.</h3>
        </div>
        <br>
        <h2><b>Tickets for upcoming performances</b></h2>
        <table class="sharp-table">
            <thead class="table-head">
                <tr>
                    {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                    {{/each}}
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {{#each data}}
                    <tr data-value={{this.ID}}>
                        <td>{{this.ID}}</td>
                        <td>{{this.Price}}</td>
                        <td><button onclick="deleteTicket({{this.ID}})" class="delete-button">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <button class="display-form-button" onclick="displayAddForm()">Click here to add a new ticket</button>
        <div class="form-body" id="show-add">
            <form class="sharp-form" id="add-ticket-form">
                <div class="form-title">Add a New Ticket</div>
                <p class="form-desc">
                    INPUT DESCRIPTION HERE
                </p>
                <div class="form-item">
                    <label for="add-price" class="form-label">Price Per Ticket: </label>
                    <input type="number" class="form-input" min="0"step="0.01" name="add-price" id="add-price" required="required">
                </div>
                <div class="form-item">
                    <input class="form-button" type="submit">
                </div>
            </form>
        </div>

        <button class="display-form-button" onclick="displayUpdateForm()">Click here to update a ticket</button>
        <div class="form-body" id="show-update">
            <form class="sharp-form" id="update-ticket-form">
                <div class="form-title">Update a Ticket</div>
                <p class="form-desc">
                    INPUT DESCRIPTION HERE
                </p>
                <div class="form-item">
                    <label for="input-id" class="form-label">Ticket ID: </label>
                    <select class="form-dropdown" name="input-id" id="input-id">
                        <option value="test">Select an ID</option>
                        {{#each data}}
                            <option value="{{this.ID}}">{{this.ID}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-item">
                    <label for="update-price" class="form-label">Price Per Ticket: </label>
                    <input type="number" class="form-input" min="0"step="0.01" name="update-price" id="update-price" required="required">
                </div>
                <div class="form-item">
                    <input class="form-button" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/mod_ticket.js" async></script>
