<h1>Tickets</h1>
<div id="tables">
<table class="ticket-table" id="ticket-table">
    <thead class="table-head">
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody class="table-body">
        {{#each data}}
        <tr data-value={{this.ticket_id}}>
            <td>{{this.ticket_id}}</td>
            <td>{{this.ticket_price}}</td>
            <td><button onclick="deleteTicket({{this.ticket_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Add a New Ticket</h2>
<form id="add-ticket-form">

    <label for="add-price">Price Per Ticket: </label>
    <input type="number" min="0"step="0.01" name="add-price" id="add-price" required="required">

    <input type="submit">
</form>
<br>

<h2>Update Ticket Price</h2>
<form id="update-ticket-form">
    <label for="input-id">Ticket ID: </label>
    <select name="input-id" id="input-id">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.ticket_id}}">{{this.ticket_id}}</option>
        {{/each}}
    </select>

    <label for="update-price">New Price: </label>
    <input type="number" min="0"step="0.01" name="update-price" id="update-price">
    <input type="submit">
</form>
</div>
<script src="./js/mod_ticket.js" async></script>
