<div class="page-title">
    <h1>Venues</h1>
</div>
<div class="container">
    <div class="content-body">
        <div class="page-desc">
            <h2>Here you can add, update or delete an instrument request for an upcoming artist/group.</h2><br>
            <h3>Dont see the artist/group or instrument you're looking for in the form dropdown menu?</h3>
            <h3>Use the 'Artists' page to add a new artist to the database or use the 'Instruments' page</h3>
            <h3>to add a new instrument.</h3>
        </div>
        <br>

        <h2><b>Venue List and Details</b></h2>
        {{!-- Create a table --}}
        <table class="sharp-table">
            {{!-- Header section --}}
            <thead class="table-head">
                <tr>
                    {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                    {{/each}}
                    <th>Remove</th>
                </tr>
            </thead>
            {{!-- Body Section --}}
            <tbody class="table-body">
                {{#each data}}
                {{!-- SELECT name, address, city, state, zip, phone, num_rooms, total_capacity FROM Venues; --}}
                    <tr data-value={{this.ID}}>
                        <td>{{this.ID}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Address}}</td>
                        <td>{{this.City}}</td>
                        <td>{{this.State}}</td>
                        <td>{{this.Zip}}</td>
                        <td>{{this.Phone}}</td>
                        <td>{{this.Rooms}}</td>
                        <td>{{this.Capacity}}</td>
                        <td><button onclick="deleteVenue({{this.ID}})" class="delete-button">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <button class="display-form-button" onclick="displayAddForm()">Click here to add a new venue</button>
        <div class="form-body" id="show-add">
            <form class="sharp-form" id="add-venue-form">
                <div class="form-title">Add a New Venue</div>
                <p class="form-desc">
                        INPUT DESCRIPTION HERE
                </p>
                <div class="form-item">
                    <label for="add-name" class="form-label">Name: </label>
                    <input type="text" class="form-input" name="add-name" id="add-name">
                </div>

                <div class="form-item">
                    <label for="add-address" class="form-label">Address: </label>
                    <input type="text" class="form-input" name="add-address" id="add-address">
                </div>

                <div class="form-item">
                    <label for="add-city" class="form-label">City: </label>
                    <input type="text" class="form-input" name="add-city" id="add-city">
                </div>

                <div class="form-item">
                    <label for="add-state" class="form-label">State: </label>
                    <input type="text" class="form-input" name="add-state" id="add-state">
                </div>

                <div class="form-item">
                    <label for="add-zip" class="form-label">Zip Code: </label>
                    <input type="number" class="form-input" name="add-zip" id="add-zip">
                </div>

                <div class="form-item">
                    <label for="add-phone" class="form-label">Phone: </label>
                    <input type="number" class="form-input" name="add-phone" id="add-phone">
                </div>

                <div class="form-item">
                    <label for="add-num-rooms" class="form-label">Number of Rooms: </label>
                    <input type="number" class="form-input" name="add-num-rooms" id="add-num-rooms">
                </div>

                <div class="form-item">
                    <label for="add-cap" class="form-label">Totaly Capacity: </label>
                    <input type="number" class="form-input" name="add-cap" id="add-cap">
                </div>

                <div class="form-item">
                    <input class="form-button" type="submit">
                </div>
            </form>
        </div>

        <button class="display-form-button" onclick="displayUpdateForm()">Click here to update an existing venue</button>
        <div class="form-body" id="show-update">
            <form class="sharp-form" id="update-venue-form">
                <div class="form-title">Update an Existing Venue</div>
                <p class="form-desc">
                    INPUT DESCRIPTION HERE
                </p>
                <div class="form-item">
                    <label for="input-id">Venue ID: </label>
                    <select class="form-dropdown" name="input-id" id="input-id">
                        <option value="test">Select ID</option>
                        {{#each data}}
                            <option value="{{this.ID}}">{{this.ID}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-item">
                    <label for="update-name" class="form-label">Name: </label>
                    <input type="text" class="form-input" name="update-name" id="update-name">
                </div>

                <div class="form-item">
                    <label for="update-address" class="form-label">Address: </label>
                    <input type="text" class="form-input" name="update-address" id="update-address">
                </div>

                <div class="form-item">
                    <label for="update-city" class="form-label">City: </label>
                    <input type="text" class="form-input" name="update-city" id="update-city">
                </div>

                <div class="form-item">
                    <label for="update-state" class="form-label">State: </label>
                    <input type="text" class="form-input" name="update-state" id="update-state">
                </div>

                <div class="form-item">
                    <label for="update-zip" class="form-label">Zip Code: </label>
                    <input type="number" class="form-input" name="update-zip" id="update-zip">
                </div>

                <div class="form-item">
                    <label for="update-phone" class="form-label">Phone: </label>
                    <input type="number" class="form-input" name="update-phone" id="update-phone">
                </div>

                <div class="form-item">
                    <label for="update-num-rooms" class="form-label">Number of Rooms: </label>
                    <input type="number" class="form-input" name="update-num-rooms" id="update-num-rooms">
                </div>

                <div class="form-item">
                    <label for="update-cap" class="form-label">Totaly Capacity: </label>
                    <input type="number" class="form-input" name="update-cap" id="update-cap">
                </div>

                <div class="form-item">
                    <input class="form-button" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/mod_venue.js" async></script>
