<h1>Venues</h1>
<div id "browse">
    <h2><b>Venue List</b></h2>
    {{!-- Create a table --}}
    <table border=solid cellpadding="5">
        {{!-- Header section --}}
        <thead class="table-head">
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody class="table-body">
            {{#each data}}
            {{!-- SELECT name, address, city, state, zip, phone, num_rooms, total_capacity FROM Venues; --}}
            <tr data-value={{this.venue_id}}>
                <td>{{this.venue_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.city}}</td>
                <td>{{this.state}}</td>
                <td>{{this.zip}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.num_rooms}}</td>
                <td>{{this.total_capacity}}</td>
                <td><button onclick="deleteVenue({{this.venue_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

    <h2>Add a New Venue</h2>
    <form id="add-venue-form">

        <label for="add-name">Name: </label>
        <input type="text" name="add-name" id="add-name">

        <label for="add-address">Address: </label>
        <input type="text" name="add-address" id="add-address">

        <label for="add-city">City: </label>
        <input type="text" name="add-city" id="add-city">

        <label for="add-state">State: </label>
        <input type="text" name="add-state" id="add-state">

        <label for="add-zip">Zip Code: </label>
        <input type="number" name="add-zip" id="add-zip">

        <label for="add-phone">Phone: </label>
        <input type="number" name="add-phone" id="add-phone">

        <label for="add-num-rooms">Number of Rooms: </label>
        <input type="number" name="add-num-rooms" id="add-num-rooms">

        <label for="add-cap">Totaly Capacity: </label>
        <input type="number" name="add-cap" id="add-cap">

        <input type="submit">
    </form>


<h2>Update Venue Details</h2>
<form id="update-venue-form">
    <label for="input-id">Venue ID: </label>
    <select name="input-id" id="input-id">
        <option value="test">Select ID</option>
        {{#each data}}
        <option value="{{this.venue_id}}">{{this.venue_id}}</option>
        {{/each}}
    </select>

    <label for="update-name">Name: </label>
    <input type="text" name="update-name" id="update-name">

    <label for="update-address">Address: </label>
    <input type="text" name="update-address" id="update-address">

    <label for="update-city">City: </label>
    <input type="text" name="update-city" id="update-city">

    <label for="update-state">State: </label>
    <input type="text" name="update-state" id="update-state">

    <label for="update-zip">Zip Code: </label>
    <input type="number" name="update-zip" id="update-zip">

    <label for="update-phone">Phone: </label>
    <input type="number" name="update-phone" id="update-phone">

    <label for="update-num-rooms">Number of Rooms: </label>
    <input type="number" name="update-num-rooms" id="update-num-rooms">

    <label for="update-cap">Totaly Capacity: </label>
    <input type="number" name="update-cap" id="update-cap">

    <input type="submit">
</form>
</div>
<script src="./js/mod_venue.js" async></script>
