<h1>Venues</h1>
<div id "browse">
    <h2><b>Venue List</b></h2>
    {{!-- Create a table --}}
    <table border=solid cellpadding="5">
        {{!-- Header section --}}
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        {{!-- Body Section --}}
        <tbody>
            {{#each data}}
            {{!-- SELECT name, address, city, state, zip, phone, num_rooms, total_capacity FROM Venues; --}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.city}}</td>
                <td>{{this.state}}</td>
                <td>{{this.zip}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.num_rooms}}</td>
                <td>{{this.total_capacity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="insert">
    <h2>Add a New Venue</h2>
    <form id="add-venue-form">

        <label for="add-name">Name: </label>
        <input type="text" name="add-name" id="add-name">

        <label for="add-address">Address: </label>
        <input type="text" name="add-address" id="add-address">

        <label for="add-city">City: </label>
        <input type="text" name="add-city" id="add-city">

        <label for="add-state">State: </label>
        <input type="text" name="add-state" id="add-state">

        <label for="add-zip">Zip Code: </label>
        <input type="number" name="add-zip" id="add-zip">

        <label for="add-phone">Phone: </label>
        <input type="number" name="add-phone" id="add-phone">

        <label for="add-num-rooms">Number of Rooms: </label>
        <input type="number" name="add-num-rooms" id="add-num-rooms">

        <label for="add-cap">Totaly Capacity: </label>
        <input type="number" name="add-cap" id="add-cap">

        <input type="submit">
    </form>

</div>
<script src="./js/add_venue.js" async></script>

<div id="update">
    <form action="/venues" id="update-venue">
      <legend><b>Update Venue Information</b></legend>
          <fieldset class="fields">
            <label> Venue ID: </label> <input value="1" name="id"><br>
            <label> Name: </label> <input value="Broken Spoke" name="name"><br>
            <label> Address: </label> <input value="3201 S. Lamar Blvd." name="address"><br>
            <label> City: </label> <input value="Austin" name="city"><br>
            <label> State: </label> <input value="TX" name="state"><br>
            <label> Zip Code: </label> <input value="78704" name="zip"><br>
            <label> Phone Number: </label> <input value="512-442-6189" name="phone"><br>
            <label> Number of Rooms: </label> <input value="3" name="rooms"><br>
            <label> Total Capacity: </label> <input value="350" name="capacity"><br>
    </fieldset>
    <input class="btn" type="submit" id="update-venue" value="Update Venue">
    <input class="btn" type="submit" value="Cancel" href="/venues">
  </form>
</div>


<div id="delete">
    <form action="/venues" id="delete-venue">
        <legend><b>Delete a Venue From the Database</b></legend>
        <fieldset class="fields">
            <label for="id" >Venue ID:</label> <br>
            <input value="1">
    </fieldset>
    <input class="btn" type="submit" id="delete-venue" value="Delete Venue">
    <input class="btn" type="submit" value="Cancel" href="/venues">
  </form>
</div>

</div>
